@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
}
.topnavi {
  position: flex;
  background-color: #aeccfa;
  overflow: show;
}

  .topnavi a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav {
    background-color: transparent;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #7ba1d9;
    opacity: 75%;
    color: black;
  }
  

  .topnav a.active {
    background-color: #1453ff;
    color: white;
  }

.body {
  background-color: #ffffff;
}

.hero-body {
  background-color: #aeccfa;

  padding: 50px;
}
 
.paralax {
  background-color: #fff;
}
  
.row{
  background-color: #fff;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #1c157a;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #1c157a;
}

.text-body-secondary {
  color: #83888c;
}

.hypercolour {
  color: #1453ff;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #aeccfa;
  color: rgb(60, 60, 60);
  text-align: center;
  padding: 10px;
}