{% extends "base.html" %}
{% block nav_contact %}active{% endblock %}
{% block unique_body %}

<div class="container py-5">
        <h1><b>Contact</b><br><small class="text-body-secondary">Keep me posted!</small></h1> <br>
        <br><br>
        <h2 class="fw-bold text-body-emphasis">Whoami?</h2>
        <p style="text-align: left; margin: 100px; margin-top: 0;">Hello! I'm Merijn, an ambitious student of <i>𝘤𝘰𝘮𝘱𝘶𝘵𝘢𝘵𝘪𝘰𝘯𝘢𝘭 𝘴𝘰𝘤𝘪𝘢𝘭 𝘴𝘤𝘪𝘦𝘯𝘤𝘦</i> at the University of Amsterdam. I help companies with digital and data-driven solutions to various social problems, constantly exploring new challenges and opportunities to grow.
                <br><br>
                𝗦𝗼𝗺𝗲 𝗲𝘅𝗮𝗺𝗽𝗹𝗲𝘀 𝗶𝗻𝗰𝗹𝘂𝗱𝗲: 
                <br><br>
                 • Research about application features for 'Toertje' (a cycling app by the makers of 'Ommetje')
                 • A website that educates people about the prevention of nearsightedness for BRIL Amsterdam
                 <br><br>
                With a knack for <i>𝘤𝘳𝘦𝘢𝘵𝘪𝘷𝘦 𝘱𝘳𝘰𝘣𝘭𝘦𝘮 𝘴𝘰𝘭𝘷𝘪𝘯𝘨 and 𝘱𝘳𝘰𝘫𝘦𝘤𝘵 𝘮𝘢𝘯𝘢𝘨𝘦𝘮𝘦𝘯𝘵</i>, I excel in both Dutch and English, leading to clear interactions with stakeholders and clients. My studies have also equipped me with strong <i>𝘵𝘦𝘢𝘮 𝘤𝘰𝘭𝘭𝘢𝘣𝘰𝘳𝘢𝘵𝘪𝘰𝘯</i> and report-creation skills.
                <br><br>
                My proficiency in various technical fields, including <i>𝘈𝘥𝘰𝘣𝘦 𝘋𝘦𝘴𝘪𝘨𝘯 𝘱𝘳𝘰𝘨𝘳𝘢𝘮𝘴, 𝘗𝘺𝘵𝘩𝘰𝘯, 𝘏𝘛𝘔𝘓, 𝘊𝘚𝘚, 𝘓𝘢𝘛𝘦𝘟, 𝘔𝘪𝘤𝘳𝘰𝘴𝘰𝘧𝘵 𝘖𝘧𝘧𝘪𝘤𝘦, 𝘢𝘯𝘥 𝘚𝘘𝘓</i>, enhances my ability to contribute to digital projects, simplify processes, and present complex information in an accessible way.
                <br><br>
                Strong communication skills, developed through public speaking, social media management, and magazine editing, enable me to create compelling content and engage audiences. This passion for multimedia is also channelled personally into creating videos, newsletters, and podcasts, leveraging creative communication skills to deliver compelling messages across various platforms. Outside of the digital realm, I am often found with a book in my hand or hitting the pavement for a run.
                <br><br>
                My academic background has taught me to strategically approach problem-solving. Furthermore, with certifications from Cambridge and NIMA, I have shown a strong foundation in professional communication and marketing. 
                <br><br>
                Driven by a desire to learn, my mission is to continually develop my skills and apply them to make a positive impact. I am always seeking to contribute meaningfully to the projects and teams I am part of.
                <br><br>
                Feel free to contact me via email: merijnvervoorn @ outlook.com</p>
        </div>
    
{% endblock %}